.container {
    width: 1280px;
    padding: 0 15px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.header-logo {
    width: 25%;
}
.header-nav {
    width: 75%;
}